---
import { allTags } from "../../data/getAllTags";
import { issues } from "../../data/issues.js";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TasksLayout from "../../layouts/TasksLayout.astro";

export async function getStaticPaths() {
    const allTasks = issues;

    return [...allTags].map(({ name, description, color }) => {
        const filteredTasks = allTasks.filter(({ labels }) =>
            labels.find((label: { name: String }) => label.name === name),
        );

        return {
            params: {
                tag: name,
            },
            props: {
                description: description,
                color: color,
                tasks: filteredTasks,
            },
        };
    });
}

const { tag } = Astro.params;
const { tasks, description, color } = Astro.props;
---

<BaseLayout header="Tags">
    <h1>{tag}</h1>
    <p>{description}</p>
    <TasksLayout tasks={tasks}>
        <h1 slot="Title">Tasks with the Tag <span class={`italic text-[#${color}]`}>{tag}</span></h1>
    </TasksLayout>
</BaseLayout>
