---
import Card from "../components/Card.astro";
import Layout from "../layouts/BaseLayout.astro";

// const URL = "https://api.github.com/repos/InvernaderoVR/InvernaderoVR/issues";

// const connectApi = await fetch(URL);
// const issues = await connectApi.json();

const issues = [];
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<Layout header="Home">
		<section>
			<!-- {
				issues.length === 0 ? (
					<Card />
				) : (
					issues?.map(
						({
							title,
							number,
							user: { login: creator },
							state,
							assignees,
						}) => (
							<Card
								title={title}
								number={number}
								creator={creator}
								state={state}
								assignees={assignees}
							/>
						),
					)
				)
			} -->
		</section>
	</Layout>

	<style>
		section {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
		}
	</style>
</html>
