---
const props = Astro.props;
const { title, number, creator, state, assignees, labels } = props;

const STATE_TASK = {
    PROCESS: "open",
    DONE: "close",
};

const isOpen = state === STATE_TASK.PROCESS ? true : false;
---

<section class="card">
    <a href=`/tasks/${number}` class="underline">{number}. {title}</a>
    <!-- <p
        class:list={[
            "status",
            {
                green: isOpen,
                red: !isOpen,
            },
        ]}
    >
        {state}
    </p> -->
    <!-- <p>Owner : {creator}</p>
    <section class="assignees">
        <p>Asignees :</p>
        {assignees.map(({ login }) => <p>{login}</p>)}
    </section>
    <section>
        {
            labels.map(({ name, color }) => (
                <p class={`text-[#${color}]`}>{name}</p>
            ))
        }
    </section> -->
</section>

<style>
    .green {
        color: green;
        background-color: lightgreen;
    }
    .red {
        color: red;
        background-color: lightpink;
    }
    .status {
        text-transform: capitalize;
        padding: 0.25rem;
        display: inline;
    }
    .card {
        display: flex;
        gap: 1rem;
        margin: 0.25rem;
    }
</style>
