---
const props = Astro.props;
const {
    title = "Modelos Plantas",
    number = 0,
    creator = "Javier",
    state = "close",
    assignees = [
        {
            login: "Gonzalo",
        },
        {
            login: "Guille",
        },
    ],
} = props;

const STATE_TASK = {
    PROCESS: "open",
    DONE: "close",
};

const isOpen = state === STATE_TASK.PROCESS ? true : false;
---

<section class="card">
    <header>
        <p>{number}. {title}</p>
    </header>
    <p
        class:list={[
            "status",
            {
                green: isOpen,
                red: !isOpen,
            },
        ]}
    >
        {state}
    </p>
    <p>Owner : {creator}</p>
    <section class="assignees">
        <p>Asignees :</p>
        {assignees.map(({ login }) => <p>{login}</p>)}
    </section>
</section>

<style>
    .card{
        border:2px solid lightslategray;
        padding: 1rem;
        width: 250px;
    }
    header {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    .green {
        color: green;
        background-color: lightgreen;
    }
    .red {
        color: red;
        background-color: lightpink;
    }
    .status {
        text-transform: capitalize;
        padding: 0.25rem;
        display: inline;
    }
    .assignees {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
</style>
