---
import { issues } from "../../data/issues";
import BaseLayout from "../../layouts/BaseLayout.astro";

export const getStaticPaths = async () => {
    const allTasks = issues;

    return allTasks.map((task) => {
        const { number } = task;
        return {
            params: {
                number: number,
            },
            props: {
                task: task,
            },
        };
    });
};

const { number } = Astro.params;
const {
    task: { title, state, labels, assignees, html_url },
} = Astro.props;

console.log(Astro.params, Astro.props);
---

<BaseLayout header="Tasks">
    <section>
        <h1>
            {number}. {title}
        </h1>
        <a href={html_url} target="_blank">{html_url}</a>
        <p>{state}</p>
        <article>
            {
                assignees.map(({login}) => <a href={`/members/${login}`}>{login}</a>)
            }
        </article>
    </section>
</BaseLayout>

<style>
    a{
        text-decoration: underline;
    }
</style>